In [7]:
# set up here
import praw 
import pandas as pd
import datetime as dt
import requests
import json
import pprint


user_details  = {}
n_line = "\n"

print("hey ! Bit investor welcome to a wonderfull trading day lets atrt with some basics")

user_name = str(input("what's your full  name : "))
user_adress = str(input("your adress : "))
user_budget = int(input("how much do budget to invest in crypto currenecy : "))
user_email = str(input("whats you e-mails : "))

user_details.update({
	                  "user_name":user_name,
	                  "user_address":user_adress, 
	                  "user_budget":user_budget, 
	                  "user_email":user_email, 

	                  })

#user confirms what he wants to on the appplication
user_confirmation = "no"
while user_confirmation == "no":
	print(f"great ! {user_name} here are some option to help you on your investment of {user_budget} TODAY !")
	user_query = str(input(f" {n_line} 1. type 'exchanges' to get all trading market {n_line} 2. type 'assets' to get an overview of all crpto currencies "))
	user_query = user_query.lower()
	user_confirmation = str(input( f"you want to search for {user_query} confirm with 'YES' or 'NO'" ))
	user_confirmation = user_confirmation.lower()

#whats infnluenec the market
#acess to infomations
#list all bit trading market and their makrt opening and closesing time
#link to their website

# all cryptomarket and assets
url = f'https://rest.coinapi.io/v1/{user_query}'
headers = {'X-CoinAPI-Key' : 'E3EC80DB-0297-44F9-A925-795C54BD4001'}
response = requests.get(url, headers=headers)

cypto_data = json.loads(response.text)
df = pd.DataFrame(cypto_data)

#use jupyter notebook to show a table of the top ten list on the market describe// 
#pprint.pprint(cypto_data)

hey ! Bit investor welcome to a wonderfull trading day lets atrt with some basics

what's your full  name :  samuel  sampene ampofo
your adress :  schermerslaan 71
how much do budget to invest in crypto currenecy :  8000
whats you e-mails :  samuelsampene@yahoo.com

great ! samuel  sampene ampofo here are some option to help you on your investment of 8000 TODAY !

 1. type 'exchanges' to get all trading market
 2. type 'assets' to get an overview of all crpto currencies  exchanges
you want to search for exchanges confirm with 'YES' or 'NO' yes

In [12]:
df.describe()

       data_symbols_count  data_trade_count
count          101.000000      9.100000e+01
mean           270.811881      5.983982e+07
std            894.505335      2.322757e+08
min              1.000000      5.000000e+02
25%              4.000000      3.788860e+05
50%             21.000000      2.968942e+06
75%            208.000000      2.375928e+07
max           7905.000000      2.085401e+09

In [16]:
df.describe()

       data_symbols_count  data_trade_count
count          101.000000      9.100000e+01
mean           270.811881      5.983982e+07
std            894.505335      2.322757e+08
min              1.000000      5.000000e+02
25%              4.000000      3.788860e+05
50%             21.000000      2.968942e+06
75%            208.000000      2.375928e+07
max           7905.000000      2.085401e+09